.topic-avatar {
    width: #{$topic_avatars_size}px;
} 
img.avatar {
    border-radius: $topic_avatars_border_radius;
} 
.embedded-posts .topic-avatar {
  img.avatar {
    width: 45px;
    height: 45px;
  }
  padding-left: 25px;
  padding-top: 15px;
  width: 45px;
}
