//Avatars on topics
.topic-avatar {
    width: #{$topic_avatars_size}px;
} 
.embedded-posts .topic-avatar {
  img.avatar {
    width: 45px;
    height: 45px;
  }
  padding-left: 25px;
  padding-top: 15px;
  width: 45px;
}

//Avatar on header
#current-user a.icon {
    width: #{$header_avatars_size}px !important;
}
.d-header-icons .icon img.avatar {
    width: #{$header_avatars_size}px !important;
    height: #{$header_avatars_size}px !important;
}
.d-header.clearfix {
    height: #{$header_height}px;
}
.list-controls, #banner, .user-main .about .details .primary, .admin-main-nav {
    margin-top: 4%;
}


//Avatars shape
.avatar {
    border-radius: #{$avatars_border_radius} !important;
}

//Avatars on /latest
.topic-list .posters {
  width: unset;
  &.theme-avatar-large, &.theme-avatar-extra_large, &.theme-avatar-huge {
    width: auto;
    a:not(.latest) {
      display: none;
    }
  }
  &.theme-avatar-tiny, &.theme-avatar-small, &.theme-avatar-medium {
      width: 146px;
  }
}
