.d-header-icons {
  .current-user .icon {
    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

//Notifications babble
.d-header-icons .unread-private-messages, .d-header-icons .ring {
    left: auto;
    right: 80%;
    /*top: -55%;*/
}
  
