//Transparent background for the header avatar
.d-header-icons {
  .current-user .icon {
    &:active,
    &:hover,
    &:focus {
      background-color: transparent;
    }
  }
}

//Notifications babble
.d-header-icons {
  .unread-notifications {
    right: -6px;
  }
  .unread-private-messages {
    right: auto;
    left: -10%;
  }
}
#main-outlet {
  padding-top: #{$space_from_header}px;
}
